<mat-sidenav-container class="shell-container">
  <mat-sidenav
    #drawer
    class="shell-sidenav"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="closeSidenavOnMobile()"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="shell-toolbar">
      <button type="button" mat-icon-button (click)="toggleSidenav()" aria-label="Abrir menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Benefícios</span>
      <span class="spacer"></span>
      <span class="subdomain-label">{{ subdomain }}</span>
      <button type="button" mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ userName }}
      </button>
      <mat-menu #userMenu="matMenu">
        <button type="button" mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="shell-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
